@model IEnumerable<StudentAttendence.Models.TeacherRoleModule>

@{
    ViewBag.Title = "Index: Teacher Role";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Teacher Role List</strong>
            </div>
            <div class="card-body">
                @Html.Partial("actionAdmin")
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">S.N.</th>
                            <th scope="col">Module Name</th>
                            <th scope="col">Role Name</th>
                            <th scope="col">Teacher Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int counter = 0;
                            foreach (var item in Model)
                            {
                                counter = counter + 1;
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModuleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        <div class="btn btn-outline-success">
                                            <i class="fa fa-pencil"></i>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                                        </div>
                                        <div class="btn btn-outline-info">
                                            <i class="fa fa-eye"></i>
                                            @Html.ActionLink("Details", "Details", new { id = item.ID })
                                        </div>
                                        <div class="btn btn-outline-danger">
                                            <i class="fa fa-trash"></i>
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>