@model IEnumerable<StudentAttendence.Models.FacultyModule>

@{
    ViewBag.Title = "Index: Modules";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Module List</strong>
            </div>
            <div class="card-body">
                @Html.Partial("actionAdmin")
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">S.N.</th>
                            <th scope="col">Faculty Name</th>
                            <th scope="col">Semester No</th>
                            <th scope="col">Module Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Credit Hour</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int counter = 0;
                            foreach (var item in Model)
                            {
                                counter = counter + 1;
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FacultyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SemesterNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModuleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModuleType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Credit)
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Student_Service"))
                                        {
                                            <div class="btn btn-outline-success">
                                                <i class="fa fa-pencil"></i>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.ModuleID })
                                            </div>
                                        }
                                        <div class="btn btn-outline-info">
                                            <i class="fa fa-eye"></i>
                                            @Html.ActionLink("Details", "Details", new { id = item.ModuleID })
                                        </div>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <div class="btn btn-outline-danger">
                                                <i class="fa fa-trash"></i>
                                                @Html.ActionLink("Delete", "Delete", new { id = item.ModuleID })
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>
