@model IEnumerable<StudentAttendence.Models.TeacherRoleModule>

@{
    ViewBag.Title = "SemesterTeacherModulePage";
    var FaacultyName = ViewData["FacultyName"];
    var SemesterNo = ViewData["semesterNo"];
}

<h2>StudentEnrollment</h2>

<div class="card-body">
    <table>
        <tr>
            <th>Faculty Name</th>
            <td>@FaacultyName</td>
        </tr>
        <tr>
            <th>Semester</th>
            <td>@SemesterNo</td>
        </tr>
    </table>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>

        </tr>
    }

</table>

